:root {
  /*Variables dentro del CSS*/
  /*COLORES*/
  --light_gray: #f9f9f9;
  --main_color: #179387;
  --dark_purple: #6b48ff;
  --dark_blue: #0d3f67;
  --medium_green: #91cac5;
  --light_green: #dcefed;
}

/*Generales*/
html {
  margin: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--dark_blue);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 0px;
  padding: 0px;
}
/*Header (menú)*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 994px;
  margin: 40px auto;
}
.logo {
  display: flex;
  width: 85px;
}
a {
  color: inherit;
  text-decoration: none;
}
a.active {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}
.menu {
  display: inline-flex;
}
.menu ul li {
  list-style: none;
  display: inline;
  margin-left: 32px;
}
/*Termina CSS del header (menú)*/

/*Hero Banner Home Page*/
.heroBanner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f9f9f9;
  padding: 46px 0;
  margin-bottom: 40px;
}
.textHeroBanner {
  flex: 1;
  max-width: 460px;
}
.textHeroBanner h1 {
  font-size: 24px;
  font-weight: bold;
}
.textHeroBanner h3 {
  font-weight: normal;
  margin-bottom: 80px;
}
.imgHeroBanner {
  flex: 1;
  max-width: 310px;
}
.imgHeroBanner img {
  width: 100%;
}
.button {
  border: inherit;
  font-family: inherit;
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 11px 80px;
  background: var(--dark_purple);
  border-radius: 20px;
  max-width: 287px;
  max-height: 51px;
  cursor: pointer;
}
/*Termina CSS del Hero Banner Home Page*/

/*Informaciónm HomePage*/
.information {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.info img {
  height: 135px;
  width: auto;
}
/*Termina CSS de Información HomePage*/

/*Banner dinámico página indicadores*/
.bannerIndicators {
  margin-bottom: 40px;
  position: relative;
}
.bannerText {
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  color: white;
  top: 30%;
  padding-left: 20%;
  z-index: 3;
}
.bannerOpacity {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}
.bannerImg {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
.chileBanner {
  background-image: url(images/chile-banner.jpg);
}
.peruBanner {
  background-image: url(images/peru-banner.jpg);
}
.mexicoBanner {
  background-image: url(images/mexico-banner.jpg);
}
.brasilBanner {
  background-image: url(images/brasil-banner.jpg);
}
/*Termina CSS del Banner dinámico página de indicadores*/

/*Select dentro de la página indicators*/
.indicatorsSelect {
  background: transparent;
  border: none;
  font-size: 14px;
  width: 100%;
  height: 38px;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
  border: solid 1px #d7dae2;
  background-color: #ffffff;
}
.indSelect {
  display: flex;
  align-items: left;
  justify-content: space-between;
  max-width: 994px;
  margin: 40px auto;
  flex-direction: column;
}
/*Termina CSS del select dentro de la página indicators*/

/*Footer*/
.footer {
  background-color: var(--main_color);
  padding: 10px 0px;
}
.infoFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 994px;
  margin: 0px auto;
}
.RRSS {
  align-items: center;
  display: inline-flex;
}
.socialRedes {
  color: white;
  display: inline-flex;
  align-items: center;
}
.socialRedes img {
  width: 36px;
  padding-left: 54px;
  padding-right: 10px;
}
.socialRedes a {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
/*Termina CSS footer*/

/* Gráfico de línea de los indicadores */
.indicatorsChart {
  max-height: 350px;
  max-width: 100%;
}
.chartContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 994px;
  margin: 40px auto;
}
/* Termina CSS gráfico de línea de los indicadores */

/*RESPONSIVE del Home Page incluye header y footer*/

@media (max-width: 1024px) {
  header,
  .heroBanner,
  .infoFooter,
  .indSelect,
  .indicatorsChart {
    padding: 20px 60px;
  }
}

@media (max-width: 440px) {
  .textHeroBanner h3 {
    display: none;
  }

  .textHeroBanner h1 {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .button {
    font-size: 14px;
    padding: 11px 30px;
  }
}

@media (max-width: 376px) {
  .menu ul li {
    margin-left: 25px;
  }
  .menu ul {
    padding: 0;
  }
  header,
  .heroBanner,
  .infoFooter,
  .indSelect,
  .indicatorsChart {
    padding: 0px 15px;
  }
}

@media (max-width: 768px) {
  .information {
    flex-direction: column;
    align-items: center;
  }
  .info {
    margin-bottom: 20px;
    align-items: center;
  }
  .info img {
    max-width: 155px;
  }
  .indSelect {
    padding: 0 35px;
  }
  .bannerText {
    padding-left: 35px;
  }
}
/*Comienza CSS 2da pagina*/
.banner {
  display: flex;
  margin:  auto 220px;
}

/*Imágen y Texto*/
.banner, .social, .social1  {
  display: flex;
}

.social {
  max-width: 700px;
  height: auto;   
 font-size: 20px; 
 justify-content: space-between;
}

.social1  {
max-width: 100%;
  height: auto;   
  justify-content: space-around;
}

/*Enlaces Banderas*/ 
.containerSocial, .flag, .conex {
  display: flex;
  justify-content: space-around;
  margin: auto 10%;
  padding-top: 30px;
}

.conex {
  border-radius: 20px;
  background: #91cac5;
  color: white;
  padding: 20px 60px;
  margin-bottom: 100px;
 }

a:hover {
background: #6b48ff;
}

/*Termina CSS para donas 2DA página*/

/*CSS Donas 3ra Página*/

section .doughnutMax, .doughnutAver {
display: inline-flex;
justify-content: space-around;
padding: 0;
align-items: center;
}

.doughnutMax {
 margin-left: 200px;
}

@media (max-width: 600px) {
  .socialRedes a p {
    display: none;
  }
}

/*RESPONSIVE 2da página*/
@media (max-width: 1024px) {
#banner .content .social {
width: 20%;
}

@media (max-width: 1024px) {
.social1 {
display: none;
}
.containerSocial {
flex-direction: column;
}
}

@media (max-width: 800px) {
.social {
  width: 100%;
  font-size: 12px;
}
.social1 {
display: none
}
.containerSocial {
flex-direction: column;
}
.conex {
padding: 5px 5px;
}
}

@media (max-width: 610px) {
  .social {
    display: none;
font-size: 8px;
}
.social1 {
display: none;
}
.containerSocial {
flex-direction: column;
}
.conex {
padding: 5px 5px;
}
}

@media (max-width: 440px) {
  .social {
    display: none;
font-size: 8px;
}
.social1 {
display: none;
}
.containerSocial {
flex-direction: column;
}
.conex {
padding: 5px 5px;
}
}

@media (min-width: 206px) and (max-width: 340px) {
    .social {
      display: none;
font-size: 8px;
width: 100%;
}
.social1 {
display: none;
}
.containerSocial {
flex-direction: column;
}
.conex {
padding: 5px 5px;
}
}
/*Termina RESPONSIVE 2da página*/

/*RESPONSIVE DONAS 3RA página*/
@media (max-width: 1024px) {
section .doughnutMax, .doughnutAver {
  width: 50%;

}
}

@media (max-width: 800px) {
section .doughnutMax, .doughnutAver  {
  width: 50%;
}
  .containerSocial {
  flex-direction: column;
}
}

@media (max-width: 440px) {
  section .doughnutMax, .doughnutAver  {
display: none;
}
}

@media (min-width: 206px) and (max-width: 340px) {
  section .doughnutMax, .doughnutAver  {
display: none; 
}
}
/*Termina RESPONSIVE DONAS 3RA página*/